@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Ysabeau+SC:wght@100&display=swap');

@import url('header.css');
@import url('home.css');
@import url('footer.css'); 
@import url('body.css');
@import url('form.css');

:root{
    --color-1: #054393; 
    --color-2: #75affa;  
    --color-3: #6458b7;
    --color-4: #691777; 
    --color-5: #9534fa; 
}

